<h1>New answer</h1>

<% form_for(@answer) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :question %><br />
    <%= select("answer", "question_id", Question.all.collect {|s| [ s.content, s.id ] }) %>
  </p>
  <p>
    <%= f.label :answer %><br />
    <%= f.text_field :content %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', answers_path %>