<div class="error"></div>
<% form_for [@survey, @case_answers], :class => "cmxform", :html => {:id => 'surveyForm'} do |f| %>
  <div class="Survey"><%= @survey.name %></div>
  <%= f.error_messages %>
  <% field_set_tag nil, :class => 'Survey' do %>
    <div id="wizard">
      <% @survey.questions.each do |q| %>
        <div class="question">
          <h3><a href="#"><%= q.content %></a></h3>
          <div>
            <% field_set_tag nil, :class => 'Question' do %>
              <div class="answer">
                <% q.answers.each do |a| %>
                  <p>
                    <%= radio_button_tag("answer[#{q.id}]", "#{a.id}", false, {:validate => "required:true"}) %><%= a.content %>
                  </p>
                <%  end %>
              </div>
            <% end %>
            <%=  submit_tag("previous", :type => 'button', :disabled => (@survey.questions.first == q ? true : false), :class => "previous") %>
            <%=  submit_tag("next", :type => 'button', :disabled => (@survey.questions.last == q ? true : false), :class => "next") %>
          </div>
        </div>
      <% end %>
      <p>
        <%= f.submit 'Submit' %>
      </p>
    </div>
  <% end %>
<% end %>