<h1>Editing survey_answer</h1>

<% form_for(@survey_answer) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :survey_id %><br />
    <%= f.text_field :survey_id %>
  </p>
  <p>
    <%= f.label :question_id %><br />
    <%= f.text_field :question_id %>
  </p>
  <p>
    <%= f.label :answer_id %><br />
    <%= f.text_field :answer_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @survey_answer %> |
<%= link_to 'Back', survey_answers_path %>